$color-primary: #20a0ff;
$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;
$color-info: #50bfff;
$color-blue: #2e90fe;
$color-blue-light: #5da9ff;
$color-blue-lighter: rgba($color-blue, 0.12);
$color-white: #fff;
$color-black: #000;
$color-grey: #c0ccda;

// top
$top-height: 100px;
$top-header-height: 50px;
$top-menu-height: 50px;
$top-color: #1f2d3d;

// left
$left-width: 220px;

// content
$content-header-height: 40px;
